<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-4">
        <p>
            <b>Office One</b>
            <br>Contact Number: 1 av 2019
            <br>Email Address: blablabla.bla.com
            <br>Physical Address: nsfjdk ndfh dfjgh dfngh
        </p>

        <p>
            <b>Office Two</b>
            <br> Contact Number: 1 av 2019
            <br> Email Address: blablabla.bla.com
            <br> Physical Address: nsfjdk ndfh dfjgh dfngh
        </p>

      </div>
      <div class="col-sm-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2858.239476331983!2d30.773664014582593!3d-29.79651868197314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ef6fbbf30709861%3A0x722038a024bc9fc1!2s1+Valdean+Rd%2C+St+Helier%2C+Gillitts%2C+3610!5e1!3m2!1sen!2sza!4v1560014695978!5m2!1sen!2sza"
          width="600" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
    <form>
    </form>
  </div>
</div>

